@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.text-16{
	font-size: 16px;
}

.text-24{
	font-size: 24px;
}

.text-32{
	font-size: 32px;
}

.text-dark-red{
	color: #B91C1C;
}

.text-gray{
	color: #919EAB;
}

.text-gray{
	color: #454F5B;
}

.text-thin{
	font-weight: 300;
}

.text-bold{
	font-weight: 700;
}

.clickable{
	cursor: pointer;
}

header{
	display: flex!important;
	width: 100%;
	height: 130px;
	padding: 32px;
	justify-content: space-between;
}

header > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dotShare-logo{
	height: 55px;
	width: 55px;
	margin-right: 12px;
}

.users-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 48px;
}

.user-icon {
	background: #A80303;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	margin-right: 4px;
}

.share-button {
	background-color: #FF5353;
	color: #FFF;
	height: 40px;
	line-height: 40px;
	width: 100px;
	text-align: center;
	border-radius: 35px;
	margin-right: 48px;
}

.user-account {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-account > .user-icon {
	margin-right: 8px;
}

/* content */
.content {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	flex-wrap: wrap;
}

.content > * {
	border: 1px solid rgba(99, 115, 129, 0.4);
	border-radius: 6px;
	flex: 1;
}

.inspector-container {
	max-width: 300px;
	padding: 24px;
}

.color-buttons > * {
	height: 32px;
	width: 32px;
	border-radius: 50%;
}

.color-buttons {
	display: flex;
}

.gray {
	background-color: #454F5B;
}

.green {
	background-color: #23CE07;
}

.yellow {
	background-color: #FFCD00;
}

.purple {
	background-color: #653A9A;
}

.red {
	background-color: #B91C1C;
}

.tosca {
	background-color: #37799A;
}

.inspector-buttons {
	display: flex;
	padding: 8px;
	align-items: center;
	background-color: #DFE3E8;
	border-radius: 8px;
}

.inspector-buttons.active {
	background-color: #FFEAEA;
	border: 1px solid #B91C1C;
}

.project-info {
	max-width: 300px;
}




.centering-bottom-buttons, .centering-bottom-buttons > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.centering-bottom-buttons > div{
	height: 36px;
	font-size: 20px;
	border: 0.2px solid #8E8E8E;
	padding: 24px 0;
	border-radius: 30px;
}

.edit-button{
	padding: 8px 32px;
	border-radius: 30px;
	margin-right: -3px;
}

.centering-bottom-buttons .active{
	border: 2px solid #B91C1C;
	background-color: #FFEAEA;
}

/* Spacing */
.mt-2{
	margin-top: 2px;
}

.mt-4{
	margin-top: 4px;
}

.mt-8{
	margin-top: 8px;
}

.mt-12{
	margin-top: 12px;
}

.mt-16{
  margin-top: 16px;
}

.mt-24{
	margin-top: 24px;
}

.mt-32{
	margin-top: 32px;
}

.mt-48{
	margin-top: 48px;
}

.mr-2{
	margin-right: 2px;
}

.mr-4{
	margin-right: 4px;
}

.mr-8{
	margin-right: 8px;
}

.mr-12{
	margin-right: 12px;
}

.mr-16{
  margin-right: 16px;
}

.mr-24{
	margin-right: 24px;
}

.mr-32{
	margin-right: 32px;
}

.mr-48{
	margin-right: 48px;
}

.mb-2{
	margin-bottom: 2px;
}

.mb-4{
	margin-bottom: 4px;
}

.mb-8{
	margin-bottom: 8px;
}

.mb-12{
	margin-bottom: 12px;
}

.mb-16{
  margin-bottom: 16px;
}

.mb-24{
	margin-bottom: 24px;
}

.mb-32{
	margin-bottom: 32px;
}

.mb-48{
	margin-bottom: 48px;
}

.ml-2{
	margin-left: 2px;
}

.ml-4{
	margin-left: 4px;
}

.ml-8{
	margin-left: 8px;
}

.ml-12{
	margin-left: 12px;
}

.ml-16{
  margin-left: 16px;
}

.ml-24{
	margin-left: 24px;
}

.ml-32{
	margin-left: 32px;
}

.ml-48{
	margin-left: 48px;
}